USE [tankwars]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [tankwars].[dbo].[Buildings] ALTER COLUMN [productionInSeconds] float NOT NULL

GO

SET ANSI_PADDING OFF
GO



  