USE [tankwars_test]
GO
/****** Object:  Table [dbo].[Defines]    Script Date: 26.10.2016 18:34:18 ******/
DROP TABLE [dbo].[Defines]
GO
/****** Object:  Table [dbo].[DefaultUnits]    Script Date: 26.10.2016 18:34:18 ******/
DROP TABLE [dbo].[DefaultUnits]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 26.10.2016 18:34:18 ******/
DROP TABLE [dbo].[Actions]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 26.10.2016 18:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uniqueId] [int] NOT NULL,
	[offerType] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[startTrigger] [float] NOT NULL,
	[endTrigger] [float] NOT NULL,
	[levelTrigger] [int] NOT NULL,
	[duration] [float] NOT NULL,
	[itemType] [varchar](50) NOT NULL,
	[itemId] [varchar](50) NOT NULL,
	[amount] [varchar](50) NOT NULL,
	[bonus] [int] NOT NULL,
	[discount] [int] NOT NULL,
	[priority] [int] NOT NULL,
	[item] [int] NOT NULL CONSTRAINT [DF_Actions_itemIdent]  DEFAULT (''),
	[shopType] [int] NOT NULL,
	[isPurchase] [bit] NOT NULL,
	[counter] [int] NOT NULL,
	[HQLevel] [int] NOT NULL,
	[price] [int] NOT NULL,
 CONSTRAINT [PK_Actions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DefaultUnits]    Script Date: 26.10.2016 18:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DefaultUnits](
	[i] [int] IDENTITY(1,1) NOT NULL,
	[n] [varchar](50) NOT NULL,
	[s] [int] NOT NULL,
	[rm] [int] NOT NULL,
	[az] [int] NOT NULL,
	[ts] [float] NOT NULL,
	[tt] [float] NOT NULL,
	[at] [float] NOT NULL,
	[cd] [float] NOT NULL,
	[rd] [float] NOT NULL,
	[cs] [int] NOT NULL,
	[vr] [float] NOT NULL,
	[c] [int] NOT NULL,
	[hx] [int] NOT NULL,
	[sp] [float] NOT NULL,
	[ms] [float] NOT NULL,
	[fa] [int] NOT NULL,
	[ba] [int] NOT NULL,
	[ra] [int] NOT NULL,
	[am] [int] NOT NULL,
	[ax] [int] NOT NULL,
	[t] [int] NOT NULL,
	[z] [int] NOT NULL,
	[m] [float] NOT NULL,
	[g] [float] NOT NULL,
	[kr] [float] NOT NULL,
	[lm] [int] NOT NULL,
	[rg] [int] NOT NULL,
	[p] [int] NOT NULL,
	[sz] [int] NOT NULL,
	[pc] [float] NOT NULL,
	[dg] [float] NOT NULL,
	[lx] [int] NOT NULL,
	[parts] [int] NOT NULL,
 CONSTRAINT [PK_DefaultUnits] PRIMARY KEY CLUSTERED 
(
	[i] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Defines]    Script Date: 26.10.2016 18:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Defines](
	[n] [varchar](50) NOT NULL,
	[s] [varchar](max) NULL,
 CONSTRAINT [PK_Defines] PRIMARY KEY CLUSTERED 
(
	[n] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

GO
INSERT [dbo].[Actions] ([id], [uniqueId], [offerType], [name], [startTrigger], [endTrigger], [levelTrigger], [duration], [itemType], [itemId], [amount], [bonus], [discount], [priority], [item], [shopType], [isPurchase], [counter], [HQLevel], [price]) VALUES (1044, 1, 4, N'com.iron5studio.iron5.beginnerpack', 0, 0, 10, 172800000, N'[2,15,6,7,7]', N'[0,0,0,348,10]', N'[5000,7,1,10,2]', 320, 0, 120, 0, 0, 1, 1, 3, 0)
GO
INSERT [dbo].[Actions] ([id], [uniqueId], [offerType], [name], [startTrigger], [endTrigger], [levelTrigger], [duration], [itemType], [itemId], [amount], [bonus], [discount], [priority], [item], [shopType], [isPurchase], [counter], [HQLevel], [price]) VALUES (1051, 3, 1, N'tank3tier', 0, 0, 0, 172800000, N'[0]', N'[224]', N'[1]', 0, 35, 140, 224, 0, 0, 1, 5, 1750)
GO
INSERT [dbo].[Actions] ([id], [uniqueId], [offerType], [name], [startTrigger], [endTrigger], [levelTrigger], [duration], [itemType], [itemId], [amount], [bonus], [discount], [priority], [item], [shopType], [isPurchase], [counter], [HQLevel], [price]) VALUES (1053, 5, 8, N'com.iron5studio.iron5.gold_offer_03_discount', 172800000, 0, 1, 172800000, N'[10]', N'[]', N'[]', 0, 35, 125, 0, 0, 1, 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
SET IDENTITY_INSERT [dbo].[DefaultUnits] ON 

GO
INSERT [dbo].[DefaultUnits] ([i], [n], [s], [rm], [az], [ts], [tt], [at], [cd], [rd], [cs], [vr], [c], [hx], [sp], [ms], [fa], [ba], [ra], [am], [ax], [t], [z], [m], [g], [kr], [lm], [rg], [p], [sz], [pc], [dg], [lx], [parts]) VALUES (200, N'JeepWillys', 3, 7, 200, 90, 4, 5, 5, 5, 5, 15, 53, 100, 2.7, 2, 9, 7, 8, 13, 16, 1, 14, 1000, 0, 1, 1, 0, 0, 1, 4, 7, 2, 200)
GO
INSERT [dbo].[DefaultUnits] ([i], [n], [s], [rm], [az], [ts], [tt], [at], [cd], [rd], [cs], [vr], [c], [hx], [sp], [ms], [fa], [ba], [ra], [am], [ax], [t], [z], [m], [g], [kr], [lm], [rg], [p], [sz], [pc], [dg], [lx], [parts]) VALUES (201, N'BA64', 1, 7, 200, 90, 4, 3, 4, 5, 5, 12, 52, 100, 2.7, 2, 9, 7, 8, 13, 15, 1, 15, 1000, 0, 1, 1, 0, 0, 1, 4, 3, 2, 200)
GO
INSERT [dbo].[DefaultUnits] ([i], [n], [s], [rm], [az], [ts], [tt], [at], [cd], [rd], [cs], [vr], [c], [hx], [sp], [ms], [fa], [ba], [ra], [am], [ax], [t], [z], [m], [g], [kr], [lm], [rg], [p], [sz], [pc], [dg], [lx], [parts]) VALUES (202, N'Sdkfz251', 2, 7, 400, 90, 4, 2, 3, 3, 5, 12, 50, 100, 2.5, 2, 9, 7, 8, 11, 15, 1, 20, 1000, 0, 1, 1, 0, 0, 1, 0, 0, 2, 200)
GO
SET IDENTITY_INSERT [dbo].[DefaultUnits] OFF
GO
INSERT [dbo].[Defines] ([n], [s]) VALUES (N'AutoGameRating', N'4')
GO
INSERT [dbo].[Defines] ([n], [s]) VALUES (N'BattleAttemptsCost', N'50')
GO
INSERT [dbo].[Defines] ([n], [s]) VALUES (N'BattleCooldown', N'5')
GO

/****** Object:  Table [dbo].[UserActions]    Script Date: 26.10.2016 18:42:02 ******/
DROP TABLE [dbo].[UserActions]
GO
/****** Object:  Table [dbo].[UserActions]    Script Date: 26.10.2016 18:42:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserActions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[actionUnique] [int] NOT NULL,
	[name] [varchar](100) NOT NULL,
	[startTime] [float] NOT NULL,
	[endTime] [float] NOT NULL,
	[itemType] [varchar](50) NOT NULL,
	[itemId] [varchar](50) NOT NULL,
	[amount] [varchar](50) NOT NULL,
	[discount] [int] NOT NULL,
	[bonus] [int] NOT NULL,
	[priority] [int] NOT NULL,
	[item] [int] NOT NULL,
	[shopType] [int] NOT NULL,
	[isPurchase] [bit] NOT NULL,
	[counter] [int] NOT NULL,
	[price] [int] NOT NULL,
	[HQLevel] [int] NOT NULL,
	[offerType] [int] NOT NULL,
 CONSTRAINT [PK_UserActions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
